body, p
  font-size: $mdn-sm-p

h1, .h1
  font-size: $mdn-sm-h1
h2, .h2
  font-size: $mdn-sm-h2
h3, .h3
  font-size: $mdn-sm-h3



@media screen and (min-width: $md)
  h1, .h1
    font-size: $mdn-md-h1
  h2, .h2
    font-size: $mdn-md-h2
  h3, .h3
    font-size: $mdn-md-h3
  body, p
    font-size: $mdn-md-p
